/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$heather: #8C85A1; 
$lilac: #E5DEFC;
$mauve: #665C7D; 
$iris: #968EC4;
$plum: #564976; 
$lightgrey: #F0F0F0; 
$darkestgrey: #3C394A;
$seconddarkgrey: #524F5F; 
$middlegrey: #676573; 

