/* =============
    Base
============= */

.first{
    background-color: purple;

}

.second{
    background-color: red;
}

.third{
    background-color: lime;
}


.container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
    ". content . "
    ;

    @include xl{
        grid-template-columns: auto 1140px auto;
    }

    @include xxl{
        grid-template-columns: auto 1320px auto;
    }

    .content{
        grid-area: content;
    }


}

.content{
    grid-area: content;
}


ul{
    margin: 0; 
    padding: 0;

    li{
        list-style: none;
    }

}


.show-menu{
    display: block !important;
}

.hide-for-lg{
    @include lg{
        display: none;
    }
}

.large-images{
    width:100%;
    display: block;
}

button{
    border: 1px solid white;
    background-color: $iris;
    color: $lilac;
    padding: 10px 10px;
    border-radius: 9px;

    &:hover{
        background-color: $plum;
           text-decoration: underline;
           transition: 0.5s;
   }
}

.grey-box{
    border:1px solid $lightgrey;
    background-color: $lightgrey;
    border-radius: 9px;
     
    h2{
        color: #3C394A ;
     }
     

    
}


.threebutton{
    border: 1px solid white;
    background-color: $iris;
    color: $lilac;
    padding: 10px 10px;
    border-radius: 9px;

    &:hover{
        background-color: $plum;
           text-decoration: underline;
           transition: 0.5s;
   }

   display: flex; 
   flex-wrap: wrap; 
}

.search {
    display: block;
    width: 120%;
    border: none;
    background-color:$iris;
    color:$lilac;
    padding: 6px 30px;
    cursor: pointer;
    text-align: center;
    float:right;

   
  }

.grey-boxtwo{
    border:1px solid $lightgrey;
    background-color: $lightgrey;
    border-radius: 5px;
    padding: 10px 10px;
    width:90%;

    p{
        margin-bottom:10px;
    }

    img{
        padding-left:20px;
        padding-right:20px;
    }
     
    
    
    
}

.border-bottom{
    border-bottom: 2px solid #C4C3C8; 
    margin: 25px 0 25px 0;
}

.border-top{
    border-top: 2px solid #C4C3C8; 
    margin: 25px 0 25px 0;
}

.grey-circles{
    padding-top:20px;
}

.arrowz{
    padding:5px;
}

.join{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". content . "
    ;

    border-top:2px solid #C4C3C8;
    border-width: 20%;
    flex-grow:2;
    display:flex;
    margin-bottom: 200px;

    h3{
        color:#676573;
    }

    li{
        list-style: none;
    }

    img{
        display:inline-block;

    }

}