/* =============
    Typography
============= */
.checkout{

    grid-area: contact;
    background-color: white;
    
    ul{

        padding: 20px;
        background-color: white;

       
       
        @include md{
            grid-area: checkout;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-areas: 
            "contact contact subtotal subtotal";
        }

        
        @include xl{
            grid-template-columns: auto 570px 570 px auto;
            margin: 30px;
        }
    
        @include xxl{
            grid-template-columns: auto 660px 660px auto;
            margin: 30px;
        }


        li{
            list-style: none;
        }
        

        input{
            background-color: white; 
            color: #676573;
            padding: 10px 100px;
            border: 1px solid #676573;
            display: flex;
            margin-bottom: 15px;
            font-size: 16px;
            border-radius: 6px;
            display: flex; 
            
            @include lg{
                width:60%;
            }
            
        }

        button{
            flex-grow: 2;
            
        }

        
    }

    .container{

        @include xl{
            grid-template-columns: 16px auto 16px;
        }

        &.contact{
         
            margin-bottom: 15px;
            @include md{
                grid-area: contact;
                margin-bottom: 0;

            }
            

            
           
        
        }

        &.subtotal{
            margin-bottom: 15px;
            @include md{
        
                margin-bottom: 0;
            }

            

            
        }

    

       

       
    }

    .contact{
        @include md{
            grid-area: contact;
        }

        

        form{
            display: flex;
            flex-flow: wrap;
            justify-content: end;

            
        
            ::placeholder{ /*Chrome, Firefox, Opera, Safari 10.1+ */
                color:  #676573;
                opacity: 1;
        
            }
        
            ::-ms-input-placeholder{ /* Microsoft.Edge */
                color: #676573;
            }
    
    }
        }
}

.summary-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    ". content . "
    ;
}

.totals{
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:totals;
        ;
    }
}

.lefty{
    text-align:left;
}

.righty{
    text-align:right;
}
