/* =============
    divider
============= */

.divider{

    margin: 15px;
    
    .button{
        height:180px;
        border: 1px solid white;
        background-color: $iris;
        color: $lilac;
        padding: 30px 40px;
        border-radius: 9px;
    
        &:hover{
            background-color: $plum;
               text-decoration: underline;
               transition: 0.5s;
       }
    
       display: flex; 
       flex-wrap: wrap; 
       justify-content: center;
    }

    .img{
        text-align: center;
    }
    
    @include md{
        margin: 30px 0 30px 0; 
    }

    @include md{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "purchase moneyback shipping"
        ;
    }

    @include xl{
        grid-template-columns: auto 570px 570 px auto;
    }

    @include xxl{
        grid-template-columns: auto 660px 660px auto;
    }

    .container{

        @include xl{
            grid-template-columns: 16px auto 16px;
        }

        &.purchase{
         
            margin-bottom: 15px;
            @include md{
                grid-area: purchase;
                margin-bottom: 0;

            }
            

            
           
        
        }

        &.moneyback{
            margin-bottom: 15px;
            @include md{
                grid-area: moneyback;
                margin-bottom: 0;
            }

            

            
        }

        &.shipping{

            margin-bottom: 15px;
            @include md{
                grid-area: shipping;
                margin-bottom: 0;
            }
            

            
           
        
        }

       

       
    }
}