/* =============
    pet-nonpet
============= */

.petandnonpet{
    margin: 0 0 20px 0;

    
    p{
        color: #676573;
        font-size: 18px;
    }
    
    h3{
        color: #3C394A;
        font-size: 20px;
        
    }

    h4{
        color: #676573; 
        font-size: 18px;
    }

    h5{
        color: $plum; 
        font-size: 16px;
    }



    @include md{
        margin: 30px 0 40px 0;
    }

    @include xl{
        margin: 50px 0 60px 0;
    }

    .petbutton{
        border: 1px solid $lightgrey;
        width: 40%;
        background-color: $plum;
        color: $lilac;
        padding: 10px 10px;
        border-radius: 9px;
        font-size: 40px;
        text-align: center;
    
        &:hover{
            background-color: $iris;
               text-decoration: underline;
               transition: 0.5s;
       }
    }

    
    .pet-choices{

        


        @include md{
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: 
            " box-1 box-2";
            
        }

        @include xl{
            grid-template-columns: auto 1140px auto;
        }

        @include xxl{
            grid-template-columns: auto 1320px auto;
        }

        ul.box-grid{

            list-style: none;
            padding-left: 20px;

            display: grid;
            grid-template-columns: 100%;
            gap: 15px;

            @include md{
                grid-area: petnonpet;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-template-areas: 
                "box-1 box-1 box-2 box-2";
            }

            @include lg{
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "box-1 box-1 box-2 box-2";
            }

            li{ 

                .container{

                    padding: 20px;

                    @include xl{
                        grid-template-columns: 15px auto 15px;
                    }

                    h3{
                        font-size: 28px;
                        margin-bottom: 10px;
                    }

                    p{
                        padding-bottom: 25px;
                    }

                    
                    
                }

            
                &.box-1{
                    float:left;
                    margin-bottom: 15px;
                    @include md{
                        grid-area: box-1;
                        margin-bottom: 0;

                    }

                    @include lg{
                        text-align: left; 
                        
                     }  
                    
                     
                     
                }

                &.box-2{
                    float:right;
                    
                    margin-bottom: 15px;
                    @include md{
                        grid-area: box-2;
                    }

                    @include lg{
                        text-align: left; 
                        
                     }
                }

                

          

            
        

                
               
            
                
            }
        }
    }
    
    
}







