/* =============
    Typography
============= */
.overlay-2{
    text-align:right;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;

    h1{
        font-size: 24px;

        @include md{
            font-size: 36px;
        }

        @include lg{
            font-size: 40px;
        }
    }

    button{
        border: 1px solid white;
        background-color: $iris;
        color: $lilac;
        padding: 10px 10px;
        border-radius: 9px;
    
    
        &:hover{
            background-color: $plum;
            text-decoration: underline;
            transition: 0.5s;
       }
    }
}

.secondbackground-image{
    text-align:right;
    background-image: url(../img/secondimage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;

    @include sm{
        height: 160px;
    }

    @include md{
        height: 500px;
    }

    @include lg{
        height: 600px;
    }

    h1{
        color: #524F5F; 
    }
    flex-grow: 2;
    display: flex; 
    justify-content: end;

}

.shop-button-2{
    text-align:right;
    flex-grow: 2;
    display: flex; 
    justify-content: end;
}