/* =============
    Typography
============= */
.grey-box-three{
    grid-area:shipped;
    border:1px solid $lightgrey;
    background-color: $lightgrey;
    border-radius: 8px;
    width: 100%;
    padding: 10px 10px;
    
    
    
     
    
}

.white-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    ".thank."
    ;

    border:1px solid white;
    background-color: white;
    border-radius: 8px;
    padding: 10px 50px;
    
    
    
     
    
}

.subtotals{
    text-align:left;
}

.numbers{
    text-align:right;
}

.thank{
    text-align:center;
    margin: 15px;


    @include md{
        display:grid;
        grid-template-columns: 15% auto;
        grid-template-areas: 
        ".shipped."
        ;
    }


}

.container{
    text-align:center;
    margin-right:20px;

    @include md{

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "recieved shipped delivered"
        ;
       
    }


    &.recieved{
     
        margin-bottom: 15px;
        @include md{
            grid-area: recieved;
            margin-bottom: 0;

        }
        

        
       
    
    }

    &.shipped{
        margin-bottom: 15px;
        @include md{
            grid-area: shipped;
            margin-bottom: 0;
        }

        

        
    }

    &.delivered{

        margin-bottom: 15px;
        @include md{
            grid-area:delivered;
            margin-bottom: 0;
        }
        

        
       
    
    }

   

   
}